/* First External CSS Stylesheet */

/* Styling for HTML elements */
body {
    background: #e7e7e6;
    ;
  }
  
  /* Giving our navbar some padding and a background color */
.navbar .navbar-brand{
  font-weight: bold;
  font: Arial, sans-serif;
  color: rgb(29, 28, 28);
  background: rgba(21, 179, 153, 0.849);
  padding: 1% 1% 1% 1%;
  margin: -1% 2% -1% 5%;
}
  
  h1{
    background: white;
    padding-bottom: 2%;
    margin-bottom: -2%; 
    padding-right: 25px;
    color: rgba(21, 179, 153, 0.849);
    font-weight: bold;
  }
    /* I am not sure why the h2 styling is not working */
  h2{
    background: white;
    padding-bottom: 2%;
    margin-bottom: -2%;
    padding-right: 10px;
    color: rgba(21, 179, 153, 0.849);
    font-weight: bold;
  }
  
  Selecting elements by class 
  .container{
    width: 1024px;
  }

  .container-fluid{
      padding-left: 4%;
      padding-right: 4%;
  }
  
  .row {
   background: white; 
  }

  p{
    font-size: 24px;
    color: rgba(51, 51, 51, 0.774);
    font: Arial, sans-serif;
    line-height: 46px;
  }

  .col {
    background-color: white;
}
.col-lg-6 {
    background-color: white;
}

 .col-lg-8 {
     background-color: white;
 }
 .col-md-12 {
    background-color: white;
}
.col-sm-12 {
    background-color: white;
}
